* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

body {
  font-family: "Lato", sans-serif;
}

.header {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__right img {
  margin-right: 14px;
}

#burger {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}

#burger:checked ~ .nav {
  right: 0px;
}

.box-content {
  overflow: hidden;
}

.nav {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  position: absolute;
  box-sizing: border-box;
  top: 82px;
  right: -232px;
  transition: right 0.3s;
}
.nav__title {
  margin-bottom: 14px;
}
.nav__link {
  display: block;
  color: #F16D7F;
  padding-left: 16px;
  margin-bottom: 8px;
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 4px;
}
.nav__list {
  padding-left: 35px;
}
.nav__list a {
  color: #6F6E6E;
}
.nav ul {
  list-style: none;
  margin-bottom: 10px;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

a {
  text-decoration: none;
}

.filter-sort {
  height: 132px;
  position: relative;
  display: flex;
  gap: 30px;
  padding-top: 39px;
}

.filter {
  position: relative;
  width: 360px;
  padding-top: 13px;
  z-index: 10;
}
.filter__content {
  background: #FFFFFF;
  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
.filter[open] {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
  cursor: pointer;
}
.filter__heading {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  color: #000;
}
.filter__item {
  margin-top: 16px;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.filter__link:hover {
  color: #F16D7F;
}
.filter__head {
  padding: 8px 11px 11px 11px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.filter__item[open] .filter__head {
  color: #F16D7F;
}

.sort {
  padding-top: 12px;
  display: flex;
  gap: 18px;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  left: -9px;
  top: 22px;
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
}
.sort__check {
  display: flex;
  gap: 9px;
  font-weight: 400;
  font-size: 14px;
  color: #6F6E6E;
}

.product-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.top-head {
  background: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-head__heading {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumbs__link {
  font-size: 17px;
  font-weight: 300;
  line-height: 17px;
  color: #636363;
}
.breadcrumbs__link_site {
  font-weight: 700;
  color: #F16D7F;
}

.product {
  width: 360px;
  display: flex;
  flex-direction: column;
}
.product__img {
  height: 420px;
  margin: 0 auto;
  text-align: center;
}
.product__content {
  padding: 24px 16px;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product__name {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #000;
}
.product__text {
  font-size: 14px;
  color: #5D5D5D;
}
.product__price {
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  color: #F16D7F;
}
.product__img-pink {
  background: #F1E4E6;
}

.subscribe {
  height: 448px;
  background: url(../img/bg_sub.jpg) center center/cover no-repeat;
  position: relative;
}
.subscribe__opasity {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 50%;
  z-index: 0;
}
.subscribe__wrapper {
  padding-top: 151px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.subscribe__left-box {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.subscribe__left-box__text {
  text-align: center;
  font-weight: 400;
}
.subscribe__left-box__text span {
  font-style: italic;
}
.subscribe__round {
  margin-bottom: 15px;
}
.subscribe__round img {
  width: 96px;
  height: 96px;
  border-radius: 100%;
}
.subscribe__right-box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  z-index: 1;
}
.subscribe__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}
.subscribe__subtitle {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 32px;
}
.subscribe__form-box {
  display: flex;
  border: 1px ridge #F16D7F;
  border-radius: 30px;
  width: 340px;
}
.subscribe__input {
  width: 200px;
  height: 49px;
  font-family: inherit;
  padding-left: 18px;
  background-color: #E1E1E1;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.subscribe__btn {
  display: inline-block;
  background-color: #F16D7F;
  width: 140px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.subscribe__btn:hover {
  background-color: #ccc;
}
.subscribe__btn-text {
  text-align: center;
  padding-top: 14px;
  color: #fff;
}
.subscribe__btn-text:hover {
  color: #F16D7F;
}

.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background: rgb(34, 34, 36);
  color: #fff;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__copyright {
  font-size: 16px;
  font-weight: 400;
}
.footer__socials {
  display: flex;
  justify-content: space-between;
}
.footer__socials__faicebook, .footer__socials__inst, .footer__socials__pintrest, .footer__socials__twitter {
  width: 31px;
  height: 31px;
  background: #fff;
  margin-right: 8px;
}
.footer__socials__faicebook svg, .footer__socials__inst svg, .footer__socials__pintrest svg, .footer__socials__twitter svg {
  display: block;
  margin: 0 auto;
  margin-top: 7px;
}

.change-color:hover path {
  fill: #F16D7F;
}/*# sourceMappingURL=style.css.map */